@import "publicClass";
//@import "fontAwsume";

//.form-outline{
//.form-control {
//    border: 1px solid #bdbdbd;
//
//}
//}

.btn-primary-customize {
    padding: 1rem 2rem !important;
    font-size: calc(8px + 0.5vw) !important;
}

.second-step {
    .page-navegation {
        .btn-edit-pref, .btn-cancle2-pref {
            font-size: calc(14px + 0.4vw) !important;
        }
    }

}

.page-header {

    .page-address {
        border: solid 1px #fff;
        padding: 1rem;
        font-size: calc(10px + 0.7vw);
        color: rgba(0, 0, 0, 0.7);
        font-weight: bolder;
        background: #fff;
        border-radius: 12px;
        border-bottom: 4px solid #fe2e17;
        padding-bottom: 0.2rem;
    }

    i {
        color: rgb(0, 0, 0, 0.5);
        font-size: calc(8px + 0.7vw);

    }
}

p {
    margin-bottom: 0px !important;
}

.title1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ff8d39;
}
.iterations {
    padding: 0.3rem;
    font-size: calc(10px + 0.7vw);
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;

    i {
        color: rgb(0, 0, 0, 0.5);
        font-size: calc(8px + 0.7vw);
        padding: 0rem 0.3rem;

    }
}

.step-name {
    padding: 1.5rem 0rem;

    .content {
        background: #fff;
        padding: 0.5rem 1rem;
        margin: 0rem 0.5rem;
        border-radius: 10px;
        border-left: 4px solid #fe2e17;

        h2 {
            font-family: 'Arvo', serif;

            font-family: 'Bree Serif', serif;

            font-family: 'Comfortaa', cursive;

            font-family: 'Oxygen', sans-serif;

            font-family: 'Patrick Hand', cursive;

            font-family: 'Patua One', cursive;
        }

        p {
            font-family: 'Arvo', serif;

            font-family: 'Comfortaa', cursive;

            font-family: 'Oxygen', sans-serif;

            //font-family: 'Patrick Hand', cursive;
            font-size: 23px;
            line-height: 13px;
            margin-bottom: 1rem !important;
        }
    }
}

.home-page {
    background: #EDEBFF;
    font-family: 'Arvo', serif;

    font-family: 'Bree Serif', serif;

    font-family: 'Comfortaa', cursive;

    font-family: 'Encode Sans', sans-serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Patrick Hand', cursive;

    font-family: 'Patua One', cursive;
    min-height: 100vh;

    .form-control {
        border: 1px solid rgb(0,0,0,0.05);
    }

    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }

    .input-container {
        margin-bottom: 1.5rem;
    }
}

.zero-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;

    svg {
        width: 48%;
    }

    .heading {
        padding-top: 5rem;
        font-size: 36px;
        font-weight: bolder;
    }

    .content {
        width: 48%;

        .img {
            width: 100%;
            margin-top: 6rem;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

    .btn-edit-pref {
        display: inline;
        background: #2C82C9;
        border-radius: 10px;
        padding: 1.5rem 2.5rem;
        margin: 1rem 0.5rem;
        font-weight: normal;
        font-size: calc(25px + 0.4vw);
        line-height: calc(20px + 0.4vw);
        width: auto;
        color: #ffffff;
        transition: all ease-in-out 700ms !important;
    }
    .btn-report{
        background: #ff8d39!important;
    }
}

.navbar {
    box-shadow: 0px 5px 6px #DDDBF1;

    .logo {
        width: 150px;
        height: 71px;

        img {
            width: 100%;
        }
    }
}

.pages-container {
    .header {
        background: #2c82c9;
        padding: 1rem;
        color: white;
        border-radius: 10px 10px 0px 0px;
    }

    .pages {
        background: #fff;
        padding: 0.4rem 1rem;
    }
}

.page-navigation {
    background: #fff;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    width: 75%;

    h4 {
        border-bottom: 2px solid #f69083;
        padding-bottom: 0.2rem;
    }
}
.seventh-step{
    .btn-save-pref,.btn-edit-pref{
        font-size: 17px !important;
        height: 48px !important;
        padding: 0.5rem 1.5rem !important;
    }
    .modal-content{
        border: none;
        p{
            color: rgb(0,0,0,0.6);
        }
    }


    .state{
        position: relative;
        .improvment{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            .step-name{
                margin: 0px;
                margin-bottom: 1rem;
                justify-content: start;
                .content{
                    margin: 0px;
                }
            }
            i{
                color: #1ec551;
            }
            header{
                color: rgb(0,0,0,0.85);
                font-weight: bolder;
                font-size: 1.7rem;
            }
        }
        .step-name {
            padding: 0rem;
            justify-content: center;
            margin-bottom: -2rem;
            .content {
                background: #fff;
                padding: 0.5rem 1rem;
                margin: 0rem 0.5rem;
                border-radius: 10px;
                border-left: 4px solid #247ec7;

                h2 {
                    //font-family: 'Arvo', serif;

                    //font-family: 'Bree Serif', serif;

                    //font-family: 'Comfortaa', cursive;

                    font-family: 'Oxygen', sans-serif;
                    //
                    //font-family: 'Patrick Hand', cursive;

                    //font-family: 'Patua One', cursive;
                    font-size: 1.5rem;
                }

                p {
                    //font-family: 'Arvo', serif;
                    //
                    //font-family: 'Comfortaa', cursive;
                    //
                    font-family: 'Oxygen', sans-serif;

                    //font-family: 'Patrick Hand', cursive;
                    font-size: 1.2rem;
                    line-height: 13px;
                    margin-bottom: 1rem !important;
                    font-weight: bolder;
                }
            }
        }
        p {
            //font-family: 'Arvo', serif;
            //
            //font-family: 'Comfortaa', cursive;

            font-family: 'Oxygen', sans-serif;

            //font-family: 'Patrick Hand', cursive;
            font-size: 1.2rem;
            line-height: 13px;
            margin-bottom: 1rem !important;
            color: rgb(0,0,0,0.6);
        }
        .value-description{
            color: rgb(0,0,0,0.85);
            font-size: 0.9rem;
            font-weight: bolder;

        }
        .card1{
            border-radius: 10px;
            border-left: 4px solid #247ec7;
            //border-bottom: 4px solid #fc6042;
            margin-bottom: 1rem;
            background: #F2F2F2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            padding: 0.9rem !important;
        }
        .value{
            color: #1ec551;
            font-size: 1.5rem;
            font-weight: bolder;

        }
        .table-container{
            padding-top: 2rem;
            background: rgba(255, 255, 255, 0.5);

            .table{
                tr td{
                    border: none;
                    font-family: 'Oxygen', sans-serif;
                    color: rgb(0,0,0,0.7);
                }
                tbody{
                    background: transparent;
                    .values{
                        td{
                            color: rgb(0,0,0,0.9);
                        }
                    }
                }
            }
        }

    }

}
.sixth-step {
    .plane{
        .table{
            margin-bottom: 0rem!important;
        }
        .Workload{
            tr td{
                border: none;
            }
            tr td:nth-child(2){
                color: rgba(0, 0, 0, 0.7);
                line-height: 2rem;
                font-weight: normal;
                background: inherit;
                border: none;
                //border-radius: 5px;

            }
            tr td:first-child {
                font-weight: bolder;
                width: 150px;
                background: inherit;
                border: none;
                //border-radius: 5px;
            }
            tbody{
                background: rgba(255, 255, 255, 0.5);
            }
        }
        tr td:first-child {
            font-weight: bolder;
            width: 150px;
            background: white;
            border: none;
            //border-radius: 5px;
        }
        tr td:nth-child(2){
            color: rgba(0, 0, 0, 0.7);
            line-height: 2rem;
            font-weight: normal;
            background: rgba(255, 255, 255, 0.5);
            border: none;
            //border-radius: 5px;

        }
    }
}
