@import "../mixin";
@media  (max-width: 379px) {

}

@media (min-width: 380px)and (max-width: 480px) {


}

@media (min-width: 481px) and (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 675px) {


}
@media (min-width: 677px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 851px) {

}

@media (min-width: 852px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width:1100px) {


}

@media (min-width: 1101px) and (max-width: 1230px) {

}

@media (min-width: 1531px) and (max-width: 1800px) {


}

@media (min-width: 1801px) and (max-width: 2000px) {

}
