//.btn:focus, .btn.focus {
//    outline: 0;
//    box-shadow: none;
//}
//
//.form-control:focus, .form-control.focus {
//    outline: 0;
//    box-shadow: none;
//}
.gap-15{
    //gap: 25px;
    margin: 0px 15px;
}
.gap-0-10{
    margin: 10px 0px;
}
.gap-0-5{
    margin: 5px 0px;
}
.gap-shape{
    margin: 0px 7px;
}

.gap-10{
    //gap: 25px;
    margin: 0px 10px;
}
.gap-5{
    margin: 0px 5px;
}
.gap-25{
    margin: 0px 25px;
    //gap: 25px;
    //width: 70vmax;
    //box-sizing: border-box;
    //margin: 0px 130px;

}
.row{
    margin: 0px;
}
.col-lg-6{
    padding: 0px;
}
//.swal2-x-mark-line-left, .swal2-x-mark-line-right{
//    font-size: calc(7px + 0.7vw)!important;
//
//}
//.swal2-x-mark {
//    font-size: calc(9px + 1.5vw)!important;
//
//}
.swal2-popup{
    width: 40vw!important;
    min-width: 300px!important;
}
.swal2-title{
    font-size: calc(9px + 1.5vw)!important;
}

.alert-danger {
    color: #fff!important;
    background-color: #f25261!important;
    border-color: #f25261!important;
    display: flex;
    flex-direction: row-reverse;
    button{
        background: transparent;
        border: none;
        color: #fff;
        margin-left: 0.5rem;
    }
}

.width-full{
    width: 100%!important;
}
.width-50{
    width: 50%;
}

.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}

.width-30{
    width: 30%;
}
.width-70{
    width: 70%;
}

.width-20{
    width: 20%;
}
.width-80{
    width: 80%;
}

.width-10{
    width: 10%;
}
.width-90{
    width: 70%;
}
.opacity-0{
    opacity: 0!important;
}
.opacity-1{
    opacity: 1!important;
}
.text-small{
  font-size: calc(8px + 0.5vw);
    color: rgb(0,0,0,0.7);
}
.mr-2{
    margin-right: 2rem;
}




.p-relative{
    position: relative;
}


.translateX-to-0{
    transform: translateX(0%)!important;
}

.translateX-full-negative{
    transform: translateX(-100%)!important;
}

.translateX-positive-200px{
    transform: translateX(200px)!important;
}

.translateX-negative-200px{
    transform: translateX(-200px)!important;
}

.translateX-negative-120px{
    transform: translateX(-120px)!important;
}
.d-none{
    display: none!important;
}
@mixin transition-700ms {
    -webkit-transition: all ease-in-out  700ms!important;
    -moz-transition: all ease-in-out   700ms!important;
    -ms-transition: all ease-in-out  700ms!important;
    -o-transition: all ease-in-out   700ms!important;
    transition:  all ease-in-out  700ms!important;
}
.main-header{
    background: #2C82C9;
    color: #ffffff;

}
.color-green{
    color: #4ae64a;
}
.btn-edit-pref {
    //background: #FAC24F;
    display: inline;
    background: #2C82C9;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    font-weight: normal;
    font-size: calc(25px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    width: auto;
    color: #ffffff;
    transition: all ease-in-out 700ms !important;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #247ec7;
        color: #000000;
    }
}
.btn-save-pref{
    display: inline;
    background: #2CC990;
    border: 1px solid #2CC990;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(18px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: $btnHoverBackgroundColor;
    }
}

.btn-saved-pref{
    display: inline;
    background: #18a573;
    border: 1px solid #1ac98c;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(18px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: $btnHoverBackgroundColor;
    }
}

.btn-danger{
    background: #FC6042!important;
    border: 1px solid #FC6042!important;
    color: #ffffff!important;
    margin-bottom: 0.2rem;
}
.btn-cancle2-pref{
    display: inline;
    background: #FC6042;
    border: 1px solid #FC6042;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    font-weight: normal;
    font-size: calc(25px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: #d5d5d5;
    }
}
.btn-close-pref{
    display: inline;
    background: transparent;
    border:none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(18px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    @include transition-700ms;
}
.btn-delete-pref{
    display: inline;
    background: #FE2E17;
    border: 1px solid #FE2E17;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(18px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: #d5d5d5;
    }
}
.font-2{
    font-size: 2rem!important;
}
