.gap-15 {
  margin: 0px 15px;
}

.gap-0-10 {
  margin: 10px 0px;
}

.gap-0-5 {
  margin: 5px 0px;
}

.gap-shape {
  margin: 0px 7px;
}

.gap-10 {
  margin: 0px 10px;
}

.gap-5 {
  margin: 0px 5px;
}

.gap-25 {
  margin: 0px 25px;
}

.row {
  margin: 0px;
}

.col-lg-6 {
  padding: 0px;
}

.swal2-popup {
  width: 40vw !important;
  min-width: 300px !important;
}

.swal2-title {
  font-size: calc(9px + 1.5vw) !important;
}

.alert-danger {
  color: #fff !important;
  background-color: #f25261 !important;
  border-color: #f25261 !important;
  display: flex;
  flex-direction: row-reverse;
}
.alert-danger button {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 0.5rem;
}

.width-full {
  width: 100% !important;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-60 {
  width: 60%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-20 {
  width: 20%;
}

.width-80 {
  width: 80%;
}

.width-10 {
  width: 10%;
}

.width-90 {
  width: 70%;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.text-small {
  font-size: calc(8px + 0.5vw);
  color: rgba(0, 0, 0, 0.7);
}

.mr-2 {
  margin-right: 2rem;
}

.p-relative {
  position: relative;
}

.translateX-to-0 {
  transform: translateX(0%) !important;
}

.translateX-full-negative {
  transform: translateX(-100%) !important;
}

.translateX-positive-200px {
  transform: translateX(200px) !important;
}

.translateX-negative-200px {
  transform: translateX(-200px) !important;
}

.translateX-negative-120px {
  transform: translateX(-120px) !important;
}

.d-none {
  display: none !important;
}

.main-header {
  background: #2C82C9;
  color: #ffffff;
}

.color-green {
  color: #4ae64a;
}

.btn-edit-pref {
  display: inline;
  background: #2C82C9;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  font-weight: normal;
  font-size: calc(25px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  width: auto;
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
  transition: all ease-in-out 700ms !important;
}
.btn-edit-pref:hover {
  transform: translateY(-3px);
  background: #247ec7;
  color: #000000;
}

.btn-save-pref {
  display: inline;
  background: #2CC990;
  border: 1px solid #2CC990;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
  font-size: calc(18px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}
.btn-save-pref:hover {
  transform: translateY(-3px);
}

.btn-saved-pref {
  display: inline;
  background: #18a573;
  border: 1px solid #1ac98c;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
  font-size: calc(18px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}
.btn-saved-pref:hover {
  transform: translateY(-3px);
}

.btn-danger {
  background: #FC6042 !important;
  border: 1px solid #FC6042 !important;
  color: #ffffff !important;
  margin-bottom: 0.2rem;
}

.btn-cancle2-pref {
  display: inline;
  background: #FC6042;
  border: 1px solid #FC6042;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  font-weight: normal;
  font-size: calc(25px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}
.btn-cancle2-pref:hover {
  transform: translateY(-3px);
}

.btn-close-pref {
  display: inline;
  background: transparent;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
  font-size: calc(18px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}

.btn-delete-pref {
  display: inline;
  background: #FE2E17;
  border: 1px solid #FE2E17;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
  font-size: calc(18px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}
.btn-delete-pref:hover {
  transform: translateY(-3px);
}

.font-2 {
  font-size: 2rem !important;
}

.btn-primary-customize {
  padding: 1rem 2rem !important;
  font-size: calc(8px + 0.5vw) !important;
}

.second-step .page-navegation .btn-edit-pref, .second-step .page-navegation .btn-cancle2-pref {
  font-size: calc(14px + 0.4vw) !important;
}

.page-header .page-address {
  border: solid 1px #fff;
  padding: 1rem;
  font-size: calc(10px + 0.7vw);
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
  background: #fff;
  border-radius: 12px;
  border-bottom: 4px solid #fe2e17;
  padding-bottom: 0.2rem;
}
.page-header i {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(8px + 0.7vw);
}

p {
  margin-bottom: 0px !important;
}

.title1 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #ff8d39;
}

.iterations {
  padding: 0.3rem;
  font-size: calc(10px + 0.7vw);
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
}
.iterations i {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(8px + 0.7vw);
  padding: 0rem 0.3rem;
}

.step-name {
  padding: 1.5rem 0rem;
}
.step-name .content {
  background: #fff;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
  border-radius: 10px;
  border-left: 4px solid #fe2e17;
}
.step-name .content h2 {
  font-family: "Arvo", serif;
  font-family: "Bree Serif", serif;
  font-family: "Comfortaa", cursive;
  font-family: "Oxygen", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "Patua One", cursive;
}
.step-name .content p {
  font-family: "Arvo", serif;
  font-family: "Comfortaa", cursive;
  font-family: "Oxygen", sans-serif;
  font-size: 23px;
  line-height: 13px;
  margin-bottom: 1rem !important;
}

.home-page {
  background: #EDEBFF;
  font-family: "Arvo", serif;
  font-family: "Bree Serif", serif;
  font-family: "Comfortaa", cursive;
  font-family: "Encode Sans", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "Patua One", cursive;
  min-height: 100vh;
}
.home-page .form-control {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.home-page textarea:hover,
.home-page input:hover,
.home-page textarea:active,
.home-page input:active,
.home-page textarea:focus,
.home-page input:focus,
.home-page button:focus,
.home-page button:active,
.home-page button:hover,
.home-page label:focus,
.home-page .btn:active,
.home-page .btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.home-page .input-container {
  margin-bottom: 1.5rem;
}

.zero-step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}
.zero-step svg {
  width: 48%;
}
.zero-step .heading {
  padding-top: 5rem;
  font-size: 36px;
  font-weight: bolder;
}
.zero-step .content {
  width: 48%;
}
.zero-step .content .img {
  width: 100%;
  margin-top: 6rem;
}
.zero-step .content .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.zero-step .btn-edit-pref {
  display: inline;
  background: #2C82C9;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  margin: 1rem 0.5rem;
  font-weight: normal;
  font-size: calc(25px + 0.4vw);
  line-height: calc(20px + 0.4vw);
  width: auto;
  color: #ffffff;
  transition: all ease-in-out 700ms !important;
}
.zero-step .btn-report {
  background: #ff8d39 !important;
}

.navbar {
  box-shadow: 0px 5px 6px #DDDBF1;
}
.navbar .logo {
  width: 150px;
  height: 71px;
}
.navbar .logo img {
  width: 100%;
}

.pages-container .header {
  background: #2c82c9;
  padding: 1rem;
  color: white;
  border-radius: 10px 10px 0px 0px;
}
.pages-container .pages {
  background: #fff;
  padding: 0.4rem 1rem;
}

.page-navigation {
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  width: 75%;
}
.page-navigation h4 {
  border-bottom: 2px solid #f69083;
  padding-bottom: 0.2rem;
}

.seventh-step .btn-save-pref, .seventh-step .btn-edit-pref {
  font-size: 17px !important;
  height: 48px !important;
  padding: 0.5rem 1.5rem !important;
}
.seventh-step .modal-content {
  border: none;
}
.seventh-step .modal-content p {
  color: rgba(0, 0, 0, 0.6);
}
.seventh-step .state {
  position: relative;
}
.seventh-step .state .improvment {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.seventh-step .state .improvment .step-name {
  margin: 0px;
  margin-bottom: 1rem;
  justify-content: start;
}
.seventh-step .state .improvment .step-name .content {
  margin: 0px;
}
.seventh-step .state .improvment i {
  color: #1ec551;
}
.seventh-step .state .improvment header {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bolder;
  font-size: 1.7rem;
}
.seventh-step .state .step-name {
  padding: 0rem;
  justify-content: center;
  margin-bottom: -2rem;
}
.seventh-step .state .step-name .content {
  background: #fff;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
  border-radius: 10px;
  border-left: 4px solid #247ec7;
}
.seventh-step .state .step-name .content h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
}
.seventh-step .state .step-name .content p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  line-height: 13px;
  margin-bottom: 1rem !important;
  font-weight: bolder;
}
.seventh-step .state p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  line-height: 13px;
  margin-bottom: 1rem !important;
  color: rgba(0, 0, 0, 0.6);
}
.seventh-step .state .value-description {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.9rem;
  font-weight: bolder;
}
.seventh-step .state .card1 {
  border-radius: 10px;
  border-left: 4px solid #247ec7;
  margin-bottom: 1rem;
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0.9rem !important;
}
.seventh-step .state .value {
  color: #1ec551;
  font-size: 1.5rem;
  font-weight: bolder;
}
.seventh-step .state .table-container {
  padding-top: 2rem;
  background: rgba(255, 255, 255, 0.5);
}
.seventh-step .state .table-container .table tr td {
  border: none;
  font-family: "Oxygen", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.seventh-step .state .table-container .table tbody {
  background: transparent;
}
.seventh-step .state .table-container .table tbody .values td {
  color: rgba(0, 0, 0, 0.9);
}

.sixth-step .plane .table {
  margin-bottom: 0rem !important;
}
.sixth-step .plane .Workload tr td {
  border: none;
}
.sixth-step .plane .Workload tr td:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
  line-height: 2rem;
  font-weight: normal;
  background: inherit;
  border: none;
}
.sixth-step .plane .Workload tr td:first-child {
  font-weight: bolder;
  width: 150px;
  background: inherit;
  border: none;
}
.sixth-step .plane .Workload tbody {
  background: rgba(255, 255, 255, 0.5);
}
.sixth-step .plane tr td:first-child {
  font-weight: bolder;
  width: 150px;
  background: white;
  border: none;
}
.sixth-step .plane tr td:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
  line-height: 2rem;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}
